/* *{
    box-sizing:border-box;
} */

h2{
  text-align:center;
  color:rgb(211, 52, 255);
  font-size: 35px;
  font-family:"montserrat", Helvetica, Helvetica,Arial, sans-serif;
}

p{
  font-size:18px;
  font-family: "montserrat", Helvetica, Helvetica,Arial, sans-serif;
}

/*navbar*/

#navbar{
    background-color:orange;
    height:90px; 
    width:100%;
    display:flex; 
    align-items:center; 
    justify-content:space-between;
    font-family:"montserrat", Helvetica, Helvetica,Arial, sans-serif;
}

.logo{
    color:green;
    font-weight: bolder;
    font-size: 18px;
    line-height: 3.5;
    padding-left:10px;
}

#navbar ul{
    display: flex;
    justify-content: space-around;
    width:60%;
}

#navbar li {
    font-size: 1rem;
    list-style-type: none;
}

#navbar li a{
    color: #75739e;
    font-weight: bolder;
}
#navbar li a:hover{
    color: var(--hovercolor);
}

/*fix media query so that the nav bar is fully when smaller pixels*/
/* @media all and (max-width: 800px) {
    #navbar {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    #navbar {
      flex-flow: column wrap;
      padding: 0;
    }
    #navbar a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    #navbar li:last-of-type a {
      border-bottom: none;
    }
  } */

/*Home-Page: Our Mission*/

.container {
    position: relative;
    text-align: center;
    color:orange;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:35px;
    border:solid white;
    opacity: 80%;
    padding:10px;
    border-radius:20px;
    background:white;
  }

  .mission-exp {
    border: solid;
    border-color:orange;
    padding: 50px;
    margin-top:20px;
    font-size:18px;
    font-family:"montserrat", Helvetica, Helvetica,Arial, sans-serif;
  }

  h3{
    text-align:center;
    font-size:24px;
    font-family:"montserrat", Helvetica, Helvetica,Arial, sans-serif;
    color: rgb(250, 82, 110);
  }

/*Home-Page: What We Do Section*/

#activity-list{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.activities-img {
    height:auto;
    max-width:80%;
    border-radius:50%;
}

.activities {
  list-style-type: none;
  text-align: center;
  color:orange;
  font-size: 20px;
  font-family:"montserrat", Helvetica, Helvetica,Arial, sans-serif;
}

/*Home-Page: Regions Section*/

.regions-img {
  height:400px;
  width:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#region{
  font-size:18px;
  font-family:"montserrat", Helvetica, Helvetica,Arial, sans-serif;
  text-align: center;
}

/*contact page*/



/* Footer styles */
footer {
  background-color: #e7b7b7;
  padding: 10px;
  text-align: center;
}

.social-media-links {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.social-media-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-media-links li a {
  text-decoration: none;
  color: #e7bbbb;
}

footer p {
  margin: 10px 0;
}
